@font-face{
    font-family: 'PlusJakartaSans'; 
  src: url('assets\fonts\PlusJakartaSans-VariableFont_wght.ttf'); 
}

body{
    font-family: PlusJakartaSans, sans-serif;
    font-weight: 400;
    background-color: hsl(210, 60%, 98%);
    
}
@font-face{
    font-family: 'PlusJakartaSans'; 
    src: url('https://fonts.google.com/specimen/Plus+Jakarta+Sans'); 
}

@font-face{
    font-family: 'PlusJakartaSans'; 
  src: url('assets\fonts\PlusJakartaSans-VariableFont_wght.ttf'); 
}

.container{
    padding: 10px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    margin: 100px 300px;
}


.title{
    padding:8px 12px;
    color: hsl(224, 21%, 14%);
}

.title_text{
    font-weight: bold;
    font-size: 20PX;
}
.notification_count{
    background-color: darkblue;
    color: white;
    padding: 3px 8px;
    border-radius: 4px;
}
.title_read_text{
    float: right;
    font-size: 16px;
    color: hsl(224, 21%, 14%);
}


/* Notifications */

.notification{
    margin: 12px 4px;
    border-radius: 12px;
    background-color:hsl(210, 60%, 98%);
    padding:20px;
    font-size: 16px;
}
